<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>FinanceServlet</display-name>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>finance.servlet.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AccountServlet</servlet-name>
    <servlet-class>finance.servlet.AccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountServlet</servlet-name>
    <url-pattern>/AccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Deposit</servlet-name>
    <servlet-class>finance.servlet.Deposit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deposit</servlet-name>
    <url-pattern>/Deposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TransactionOptions</servlet-name>
    <servlet-class>finance.servlet.TransactionOptions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionOptions</servlet-name>
    <url-pattern>/TransactionOptions</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Withdraw</servlet-name>
    <servlet-class>finance.servlet.Withdraw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Withdraw</servlet-name>
    <url-pattern>/Withdraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Filter</servlet-name>
    <servlet-class>finance.servlet.Filter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Filter</servlet-name>
    <url-pattern>/Filter</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Return</servlet-name>
    <servlet-class>finance.servlet.Return</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Return</servlet-name>
    <url-pattern>/Return</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HistoryReturn</servlet-name>
    <servlet-class>finance.servlet.HistoryReturn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HistoryReturn</servlet-name>
    <url-pattern>/HistoryReturn</url-pattern>
  </servlet-mapping>
</web-app>